@import url("https://use.fontawesome.com/releases/v5.9.0/css/all.css");

body {
  margin: 0;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  height: 70px;
  width: 100%;
  background: linear-gradient(90deg, #1c3643 0, #273b47 25%, #1e5372);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 20px;
  box-sizing: border-box;
}

.btn {
  text-align: center;
  padding: 1em .8em;
  border: none;
  color: white;
  background: lightgray;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: inset 0 -.2em rgba(0, 0, 0, .2);
  outline: 0;
  transition: .2s;
  will-change: transform;
}

.btn.primary {
  background: #7dc800;
}

.btn.warning {
  background: #ff463b;
}

.btn:active {
  transform: scale(.9);
}

.notification {
  color: #ffffff;
  width: 60px;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.notification:before {
  content: '\f0f3';
  font-family: "Font Awesome 5 Free";
  display: block;
  font-weight: 900;
  font-size: 1em;
  transform-origin: center top;
}

.notification.is-active:before {
  animation-name: bell;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.notification:after {
  content: attr(data-count);
  opacity: 0;
  font-size: 11px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ff463b;
  border-radius: 50%;
  min-width: 14px;
  height: 14px;
  line-height: 13px;
  position: absolute;
  top: 15px;
  right: 8px;
  will-change: opacity;
  transition: .3s;
  transform: scale(.5);
}

.notification.show-count:after {
  opacity: 1;
  transform: scale(1);
}

@keyframes bell {
  0% {
    transform: rotate(35deg);
  }

  12.5% {
    transform: rotate(-30deg);
  }

  25% {
    transform: rotate(25deg);
  }

  37.5% {
    transform: rotate(-20deg);
  }

  50% {
    transform: rotate(15deg);
  }

  62.5% {
    transform: rotate(-10deg);
  }

  75% {
    transform: rotate(5deg);
  }

  100% {
    transform: rotate(0);
  }
}
