.App {
  text-align: center;
}

.App-logo {
  height: 80px;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.fade {}

/* OJO!! ESTAS CLASES TIENEN QUE LLAMARSE ASÍ: (-enter) (-leave)*/
.fade-leave {
  /* Estado Inicial de salida */
  animation: fade 1s;
}

.fade-leave-active {
  /* Estado Final de salida */
}

.fade-enter {
  /* Estado Inicial de entrada */
  animation: fade 1s;
}

.fade-enter-active {
  /* Estado Final de entrada */
}



@keyframes fade {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  75% {
    opacity: 1;
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
